<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.shenghao.microdose</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/shenghaowang/Code/contentful-blog/scripts/post-microdose/run.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/shenghaowang/Code/contentful-blog/scripts/post-microdose</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>/Users/shenghaowang/Library/Logs/microdose.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/shenghaowang/Library/Logs/microdose.err.log</string>
</dict>
</plist>
